.wrapper{
    display: flex;
    flex-direction: column;
    padding-inline:  10px;
    max-height: 400px;
    overflow-y: auto;
}
.owner{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}
.content{
    width: fit-content; 
    background-color: #aa9efd;
    padding: 4px 10px;
    border-radius: 16px;
    border-top-right-radius: 0;
}
.foreign{
    margin-bottom: 10px;
    width: fit-content;
    background-color: #e5e7fe;
    padding: 4px 10px;
    border-radius: 16px;
    border-top-left-radius: 0;
}
.meText{
    display: block;
    text-align: right;
}