.mainContainer{
    margin-top: 20px;
    padding-inline: 100px;
    display: flex;
    gap: 20px;
    position: relative;
    min-height: 60svh;
}
.leftSection{
    flex: 1;
}
.rightSection{
    flex: 2;
}
.container{
    height: fit-content;
}
.textarea{
    resize: none;
    border: 1px solid lightgrey;
    border-radius: 4px;
}
.profilePic{
    border-radius: 50%;
    border: 2px solid #185adb;
}
.appliedJobs{
    text-align: center;
    margin-bottom: 20px;
}
.user{
    align-items: center;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
}
.user>:first-child{
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}
.btn{
    border: none;
    background-color: #185adb;
    padding: 4px 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}
.btn:hover{
    background-color: transparent;
    outline: 1px solid #185adb;
    color: black;
}
.text{
    color: gray;
}
.skillsWrapper{
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}
.skillsContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.skillsContainer > *{
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 2px 8px;
    text-align: center;
}

 /* css for the jobs styles */

.jobTitle{
    margin: 0;
}
.wrapper > *{
    display: block;
}
.container2{
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 4px 10px;
}
.type{
    text-align: center;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    font-size: 14px;
    padding: 4px;
}
.date{
    color: rgb(91, 91, 91);
}
.bottom{
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 14px;
    color: rgb(91, 91, 91);
}
.location{
    display: flex;

    align-items: center;
}
.wrapper{
    flex-grow: 1;
}
.wrapper > div{
    margin-bottom: 8px;
}
.skill{
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 2px 8px;
    text-align: center;
    margin-right: 4px;
}
/* cv */
.cv{
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 8px 14px;
    margin-bottom: 5px;
}

/* css for form  */

.form{
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 8px;
}
.form > *{
    display: flex;
    flex-direction: column;

}

/* what are coins modal */
.list1{
    padding-left: 20px;
    text-align: start;
    font-size: 14px;
}
.details {
	position: fixed;
	margin-top: 2rem;
	color: #6b7280;
	display: flex;
	flex-direction: column;
    /* bottom: 100px; */
}
.details[open] .detailsDiv {
    animation: scale 0.25s ease;
  }
.detailsDiv {
    background-color: #151619;
    padding: 1.25rem;
    border-radius: 8px;
    position: absolute;
    max-height: calc(100vh - 100px);
    width: 400px;
    max-width: calc(100vw - 2rem);
    top: -100%;
    left: 110%;
    overflow: auto;
    transform-origin: 0% 0%;
    color: white;
}
.detailsDiv .howItWorksTitle{
    text-align: start;
}
.detailsDiv .buyCoins{
    text-align: start;
}

@keyframes scale {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

/* how it works modal */
.howItWorksWrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #1877f2;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    align-items: center;
}
.list{
    padding-left: 20px;
}
.howItWorks{
    font-size: 14px;
}
.howItWorksTitle{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.noPostText{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.buyCoins{
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.whatAreCoins{
    background-color: #151619;
    color: white;
    border-radius: 8px;
    font-size: smaller;
    padding: 4px 8px;
}
.summary {
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
    border: none;
	font-weight: 600;
	padding: 0.75em 1.25em 0.75em 1.25em;
    border: 1px solid #185adb;
	border-radius: 99em;
    color:#185adb;
	box-shadow: 0 5px 15px rgba(#000, 0.1);
	list-style: none;
	text-align: center;
	cursor: pointer;
	transition: 0.15s ease;
	position: relative;
	
}
.summary:hover,
.summary:focus{
    background-color: #185adb;
    color: white;

}