.locationBtn{
    background: none;
    display: block;
    width: 100%;
    text-align: start;
    border: 1px solid lightgrey;
    margin-top: 4px;
    border-radius: 4px;
}
/* job details page css */
.container{
    margin-inline: 100px;
    padding-inline-end: 4px;
    width: fit-content;  
    border-right: 1px solid lightgrey;
}
.heading{
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}
.title{
    font-weight: 500;
}
.date{
    color: rgb(69, 69, 69);
}
.description{
    padding-block: 30px;
    border-bottom: 1px solid lightgrey;
}
.bottom{
    padding-block: 30px;
    display: flex;
    gap: 10px;
    color: rgb(69, 69, 69);
}