.jobTitle{
    margin: 0;
}
.wrapper > *{
    display: block;
}
.container{
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 4px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
    gap: 8px;
    align-items: center;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}
.type{
    text-align: center;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;

}
.date{
    display: flex;
    align-items: flex-end;
}
.wrapper{
    flex-grow: 1;
}
.wrapper > div{
    margin-bottom: 8px;
}